﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MainMenu.Master" AutoEventWireup="true" CodeBehind="Test.aspx.cs" Inherits="ProjectAlpha.Test" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:Label ID="lblDateTime" runat="server" Text="[DateNTime]"></asp:Label>
    
    <asp:GridView ID="GridView1" runat="server"></asp:GridView>
</asp:Content>
